/* line 3, ../scss/animation.scss */
.anime_flame {
  animation: anime_flame_popup 0.5s;
}

@keyframes anime_flame_popup {
  0% {
    width: 500px;
    height: 400px;
  }
  50% {
    width: 550px;
    height: 450px;
  }
  100% {
    width: 500px;
    height: 400px;
  }
}
